@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/GothamBook.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/GothamLight.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../image/d20be1654213d8b75b3d48edcfa97066.png');
    background-size: cover;
}
.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 50px 0;
}
.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);

    margin: 0 15px 30px;

    overflow: hidden;

    border-radius: 28px;
}
.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    backdrop-filter: contrast(70%);
    text-decoration: none; /* Rimuove la sottolineatura */
    color: inherit; /* Mantiene il colore del testo circostante */
    overflow: hidden;

    position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}
.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    font-family: 'Gotham-Light', sans-serif;
    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #FFF;

    z-index: 2;
    position: relative;
}
.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;

    z-index: 2;
    position: relative;
}
.ag-courses-item_date {
    color: #fbfbfb;
    font-family: 'Gotham-Light', sans-serif;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}
.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #a9f6d5;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #a9f6d5;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #a9f6d5;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #a9f6d5;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #a9f6d5;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #a9f6d5;
}



@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}
@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }
    .ag-courses-item_link {
        padding: 22px 40px;
    }
    .ag-courses-item_date-box {
        font-size: 16px;
    }
}

.searchBox {
    position: absolute;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 60px;
    border-radius: 40px;
    padding: 10px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
    background: white;
    color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 60px;
    width: 0px;

}

@media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
}

.ag-format-container {
    padding-top: 30px;
    width: 1142px;
    margin: 0px auto;
}

.logoContainer {
    display: flex;
    justify-content: center; /* Centra l'immagine orizzontalmente */
    width: 100%; /* Assicura che il contenitore prenda tutta la larghezza disponibile */
}

.container img {
    max-width: 100%; /* Assicura che l'immagine non superi la larghezza del contenitore */
    height: auto; /* Mantiene le proporzioni dell'immagine */
}

.ag-courses-item-presentation {
    display: flex; /* Imposta il contenitore come un elemento flessibile */
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
    font-family: 'Gotham-Light', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    width: 100%;
}