body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../image/d20be1654213d8b75b3d48edcfa97066.png');
    background-size: cover;
}

.card {
    padding: 20px;
    margin: 20px;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
   /* background: linear-gradient(to top, rgba(0, 63, 145, 0.8), rgba(76, 42, 133, 0.8)); /* Sfondo con trasparenza */
    background-color: rgba(238, 238, 238, 0.2);
}

.table-title h2 {
    color: #f8f7f7;
}

.button-container {
    margin-bottom: 20px;
}

.button-container button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    background-color: rgba(0,0,0,.1);
}

.button-container button.primary::before {
    content: "+";
    margin-right: 5px;
}

.button-container button.danger::before {
    content: "\1F5D1"; /* Unicode character for trash can */
    margin-right: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: none;
}

th, td {
    padding: 10px;
    text-align: left;
    color: #fcfdfc;
    border-bottom: 1px solid #faf9f9;
}

.pagination label {
    margin-right: 5px;
    cursor: pointer;
    color: #f8f8f8;
}

.pagination .disabled {
    cursor: not-allowed;
    color: grey;
}

.pagination .active {
    font-weight: bold;
}

input[type="radio"].table-radio {
    display: none;
}

input[type="radio"].table-radio:not(:checked) ~ .table-display,
input[type="radio"].table-radio:not(:checked) ~ table,
input[type="radio"].table-radio:not(:checked) ~ .pagination {
    display: none;
}

button.edit, button.delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #f6f8f6;
    padding: 5px 10px;
}

button.edit:hover, button.delete:hover {
    text-decoration: underline;
}

.freccDX,
.freccSX
{
    border-radius: 50%;
    background-color: rgba(0,0,0,.3);
    color: white;
    border: none;
    width: 25px;
    height: 25px;
}
